@charset "utf-8";
/* 보그 PJ 공통 CSS - common.css */
/* 상단,하단 공통 모듈 */

/* 부드러운 스크롤이동 -> JS 부드러운스크롤시 주석! */
/* html{
    scroll-behavior: smooth;
} */

/**************** 1. 상단영역 ****************/
#top{
    position: relative;
    z-index: 999;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.top{
    min-height: 160px;
}
/* 0. 상단배너 */
.tbnner{
    height: 31px;
    background-color: #000;
    text-align: center;
    padding-top: 13px;
}
.tbnner p{
    color: #fff;
    font-size: 12.5px;
    font-weight: 300;
    letter-spacing: 1.3px;
}
/* 1-1. 상단메뉴 */
.tmenu{
    /* 플렉스박스 */
    display: flex;
    max-width: 1220px;
    height: 76px;
    margin: 0 auto;
}
/* 플렉스 박스 직계자식 div */
.tmenu>div{
    /* 등분할박스 + 높이값 자동채움 */
    flex: 1;
}

/* 공백박스 */
.ooo{
    text-align: center;
    margin: 20px;
}
.ooo img{
    height: 100%;
    width: 100px;
}

/* 로고박스 */
.logo{
    text-align: center;
    margin: min(20px,5vw);
}
.logo img{
    width: min(200px,25vw);
}
.icm{
    display: flex;
    /* 플렉스박스 수평방향 오른쪽 끝 정렬 */
    justify-content: flex-end;
}
/* 아이콘 메뉴박스 */
.icm a{
    width: 20px;
    height: 20px;
    /* .fi 설정에 inline-block되어 있음
    (크기적용됨!) */
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    vertical-align: top;

    /* 위치조정 */
    margin-top: 27px;
    margin-right: min(26px,2.7vw);

    opacity: .2;

    /* 트랜지션: 속시이지 */
    transition: opacity .2s;
}
/* a요소 오버시 */
.icm a:hover{
    opacity: 1;
}

/* 하트 아이콘 조정 */
.icm a.fi-heart{
    font-size: 18px;
    transform: scaleY(1.1);
    display: inline-block;
}
/* 사람 아이콘 조정 */
.icm a.fi-person{
    transform: scaleX(1.15);
    display: inline-block;
}
/* 사람 아이콘 조정 */
.icm a.fi-shopping-bag{
    transform: scaleX(1.1);
    display: inline-block;
}
/* GNB메뉴 */
.gnb{
    /* 글자설정 */
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.3px;
    /* line-height: 40px; */
    padding: 0 30px;
}
.gnb>ul{
    /* 플렉스박스 */
    display: flex;
    /* 랩핑설정 */
    flex-wrap: wrap;
    justify-content: center;
    
}
/* 리스트요소 */
.gnb li{
    text-align: center;
    padding: 5px;
    padding-bottom: 15px;
}

.gnb>ul>li>a{
    padding: 5px 15px 14px;
}

/* .sale 글자색 변경 */
.gnb .sale a{
    color: red;
}


/* li에 마우스 오버시 a요소 디자인 변경 */
.gnb>ul>li:hover>a {
    /* background-color: #d5eeff; */
    font-weight: 400;
    color: #70c6ff;
    transition: color .2s linear;
    border-bottom: 3px solid #ccc;
}

/* 서브메뉴 -1 */
/* 상위 ul에 마우스 오버시 서브메뉴 전체보이기 */

.smenu {
    position: absolute;
    /* top값을 주지않아서 젠틀! */
    left: 0;
    /* transform: translateX(-50%); */
    /* left를 절반 보내고 자기크기의 절반 중앙이동함! */
    /* 랩핑설정 */
    flex-wrap: wrap;
    display: flex;
    /* 자식인 h2,ol이 옆으로 흐르게함! */
    width: 100%;
    /* 특정가로크기설정 */
    height: 0;
    top: 100%;
    text-align: left;
    overflow: hidden;
    /* 높이값 0, 넘치는 자식요소 숨기기로 서브안보이게함! */
    background-color: #fff;
    border-top: 1px solid #ccc;



    /* 트랜지션: 속시이지 */
    transition: height .4s ease-out;
}

/* 중분류메뉴 */
.smenu .smbx li:first-child a{
    left: 0;
    font-weight: 300;
    font-size: 12px;
    text-align: left;
    color: #797979;
    padding-bottom: 10px;
}

 /* 상위 ul에 마우스 오버시 서브메뉴 전체보이기 */
 .gnb>ul>li:hover .smenu {
    min-height: 550px;
}

/* 서브메뉴 ol -> .smbx */
.smbx {
    padding: 35px 5px 0 50px;
}

/* 서브메뉴 li */
.smbx li {
    margin: -7px;
}


/* 서브메뉴 a */
.smbx a {
    display: block;
    width: 176px;
    line-height: 15px;
    font-size: 12px;
    text-align: left;
    /* margin: 0px 15px; */

    /* a요소 필수 재설정! 글자색+밑줄해제 */
    color: #000;
    text-decoration: none;

    /* 트랜지션: 속시이지 */
    transition: all .4s;
}

/* 서브메뉴 a에 오버시 */
.smenu a:hover {
    color: #ccc;
}


/* 서브메뉴 이미지박스 텍스트 */
.smimg p{
    text-align: center;
}

/* 서브메뉴 -2 */
.smenu2 {
    position: absolute;
    /* top값을 주지않아서 젠틀! */
    /* transform: translateX(-50%);
    left를 절반 보내고 자기크기의 절반 중앙이동함! */
    display: flex;
    /* 자식인 h2,ol이 옆으로 흐르게함! */
    /* width: 100%; */
    /* 특정가로크기설정 */
    height: 0;
    top: 100%;
    /* padding: 20px 0px; */
    /* overflow: auto; */
    text-align: left;
    overflow: hidden;
    /* 높이값 0, 넘치는 자식요소 숨기기로 서브안보이게함! */
    background-color: #fff;
    border-top: 1px solid #ccc;



    /* 트랜지션: 속시이지 */
    transition: height .4s ease-out;
}
 /* 상위메뉴 li에 마우스 오버시
하위메뉴박스 높이값 복원하기(트랜지션) */
/* 네번째메뉴 */
.gnb > ul > li:nth-child(4):hover .smenu2 {
    height: 431px;
}
/* 여섯번째메뉴 */
.gnb > ul > li:nth-child(6):hover .smenu2 {
    height: 95px;
 }
/* 마지막째메뉴 */
.gnb > ul > li:nth-child(7):hover .smenu2 {
    height: 70px;
 }

/* 서브메뉴 ol */
.smenu2 ol {
    padding: 20px 10px;
}

/* 서브메뉴 ol */
.smenu2 li {
    padding: 0;
}

/* 서브메뉴 a */
.smenu2 a {
    display: block;
    width: 164px;
    line-height: 28px;
    font-size: 12px;
    text-align: left;
    margin: 0px 15px;

    /* a요소 필수 재설정! 글자색+밑줄해제 */
    color: #000;
    text-decoration: none;

    /* 트랜지션: 속시이지 */
    transition: all .4s;
}

/* 서브메뉴 a에 오버시 */
.smenu2 a:hover {
    color: #ccc;
}

/* 슬림 상단 디자인 변경 */
/* #top 최상위 박스에 class="on"을 줘서 적용 */

#top.on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

/* 속박스 */
#top.on .top{
    min-height: 116px;    
}
/* 상단메뉴 숨기기 */
#top.on .tbnner{
    display: none;
}

/**************** 2. 하단영역 ****************/
.info{
    min-height: 305px;

    /* 플렉스박스 */
    display: flex;
    /* 자동줄바꿈 */
    flex-wrap: wrap;

    background-color: #f7f7f7;
    padding: 50px;
    /* 크기유지 - 패딩포함 */
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1.3px;
}

.comin{
    width: min(300px,50vw);
    margin: 0 5px 0 25px;
    padding-top: 15px;
    padding-bottom: 40px;
}
/* 3-1-1. 하단로고 */
.blogo{
    text-align: left;
}
.blogo img{
    width: 25.5px;
}
/* 회사주소 */
.addr{
    color: #797979;
    text-align: left;
    line-height: 18px;
    font-size: 11.5px;
    font-weight: 300;
    /* 기본이탤릭 해제 */
    font-style: normal;
    margin: 20px 0 10px;
}

/* 하단링크 */
.blink{
    margin: 0 12px 0 12px;
    padding-top: 15px;
    padding-bottom: 40px;
}
.blink h2{
    color: #000;
    font-size: 13px;
    font-weight: 300;
    margin: 0 6px 15px;
}
.blink a{
    display: block;
    color: #797979;
    font-size: 12px;
    font-weight: 300;
    line-height: 23px;
    margin: 0 6px;
}
.blink a:hover{
    color: #000;
}

.news{
    width: min(300px,50vw);
    margin: 0 15px 0 12px;
    padding-top: 15px;
    padding-bottom: 40px;
}
.news h2{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin: 0 6px 15px;
}
.news p{
    color: #797979;
    font-size: 11.5px;
    font-weight: 300;
    line-height: 18px;
    margin: 0 6px;
}
.news a{
    color: #797979;
    font-size: 12px;
    font-weight: 300;
    margin: 0 6px;
}

/* 위로가기버튼 */
.tbtn {
    position: fixed;
    bottom: -35px;
    /* 아래쪽에 나가있음 */
    right: 75px;
    width: 48px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #333;
    border-radius: 4px 4px 0 0;
    color: #fff;
    z-index: 9999;
    font-size: 12px;
    opacity: 0;
    /* 투명 */
 
    /* 트랜지션: 속시이지 */
    transition: background-color .3s,
       opacity .3s;
 }
 
 /* 탑메뉴 클래스on상태 */
 .tbtn.on {
    opacity: 1;
    /* 나타나기 */
    bottom: 0;
    /* 올라옴! */
 }
 
 /* 탑메뉴 마우스 오버시 */
 .tbtn:hover {
    background-color: #ccc;
 }