@charset "utf-8";
/* 김해니 포트폴리오 메인 페이지 CSS - main.css */

@import url(reset.css);
@import url(core.css);
@import url(common.css);

body{
    background-color: rgb(147, 100, 198);
}

/* 공사중표시 */
body *{
    outline: 1px dotted lime;
}

html,body{
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
}

/****************** 2. 메인영역 ******************/

/* 2-3. 컨텐츠 박스 */
#subx1 {
    /* position: relative; */
    width: 100%;
    height: 800px;
    background-color: #fff;
    
}

/* 컨텐츠 이미지 */
.subil img{
    width: 50%;
    height: 800px;
    float: left;
}

/* 컨텐츠 텍스트 */
.subtbx1 {
    width: 50%;
    height: 62.8vw;
    float: right;
    
}

.stxt{
    width: 40vw;
    
    
    margin-top: 17vw;
    font-family: 'Jost', sans-serif;
    font-size: 13px;
    line-height: 22px;
    padding: 30px 40px;
    
}
.stxt h4{
    font-size: 12px;
    line-height: 20px;
}

.stxt h3{
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
}


.slink{
    width: 400px;
    
    padding: 0 60px;
    text-decoration: underline;

}


/* ------------- */



#subx2 {
    /* position: relative; */
    width: 100%;
    height: 790px;
    background-color: #fff;
    
}
/* 컨텐츠 텍스트 */
.subtbx2 {
    width: 50%;
    height: 62vw;
    background-color: #fff;
    float: left;
    display: inline;
    
}

/* 컨텐츠 이미지 */
.subir img{
    width: 50%;
    height: 790px;
    float: right;
}

