@charset "utf-8";
/* 보그 PJ 메인페이지 CSS - main.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 공사중 박스표시 */
/* body *{
    outline: 1px dashed grey;
} */

/* 개별 배경이미지 */
/* 1번 - 1개 */
.bg1{
    /* background-image: url(../images/slide01.jpg); */
}

/* 2번 - 2칸 */
.bg2{
    background-image: url(../images/ct1.jpg);
}

/* 3번 - 2칸 */
.bg3{
    background-image: url(../images/ct2.jpg);
}

/* 4번 - 2칸 */
.bg4{
    background-image: url(../images/ct3.jpg);
}

/* 콘텐츠 텍스트박스 빈칸 배경이미지 */
.bgo{
    background-image: url(../images/blank.png);
}


#container>section {
    /*슬라이드부모*/
    position: relative;
    width: 913px;
    height: 564px;
    float: left;
    overflow: hidden;
    /*넘치는 자식요소 숨기기*/
    /*    border: 2px solid red;*/
    box-sizing: border-box;
}

#slide {
    display: flex;
    /* 플렉스박스!!! */

    /*사진을 싸고 있는 슬라이드*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#slide li {
    flex-shrink: 0;
    /* 부모박스크기만큼 줄어들지 않음 -> 0 */
    flex-basis: 100%;
    /* 가로크기를 부모박스 크기에 맞춤! */
    /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
}

#slide li img {
    /*이미지는 박스에 맞춤!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율유지 채우기! */
}

/*이동버튼*/
.abtn {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    /*Y축 중앙이동*/
}

/*왼쪽버튼*/
.ab1 {
    left: -70px;
    transform: scale(.2);
}

/*오른쪽버튼*/
.ab2 {
    right: -70px;
    transform: scale(.2);
}

/*블릿버튼*/
.indic {
    display: flex;
    /* 플렉스박스 */
    position: absolute;
    bottom: 50px;
    left: 80px;
}

.indic li {
    width: 25px;
    height: 16px;
    cursor: pointer;
}

.indic li img {
    position: absolute;
    width: 10px;
    /*이미지 겹치게*/
}

.indic li img:last-child {
    /*회색이미지만 투명하게*/
    opacity: 0;
}

/*회색블릿이미지가 보이게하는 class*/
.indic li.on img:last-child {
    /*회색이미지만 투명하게*/
    opacity: 1;
    /*우선적용!*/
}

/********************************************/
